<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.proxydroid">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name="org.proxydroid.ProxyDroidApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">


        <activity
            android:theme="@style/Theme.AppCompat.DayNight"
            android:exported="true"
            android:name="org.proxydroid.ProxyDroidActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.proxydroid.AppManager"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name="org.proxydroid.BypassListActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name="org.proxydroid.FileChooser"
            android:label="@string/app_name" />

        <service
            android:name="org.proxydroid.ProxyDroidService"
            android:enabled="true"
            android:exported="true"/>

        <receiver android:name="ProxyDroidCLI" android:exported="true">
            <intent-filter>
                <action android:name="org.proxydroid.TOGGLE_STATE" />
                <action android:name="org.proxydroid.PROFILE_CONFIGURE" />
                <action android:name="org.proxydroid.PROFILE_CHANGE" />
            </intent-filter>

        </receiver>
    </application>

</manifest>
